<div class="gradi-cta__overlay">
    <div class="gradi-cta">
        <div class="gradi-cta__textcol">
            <p class="gradi-cta__title">{{cta_title}}</p>
            <p class="gradi-cta__desc">{{cta_desc}}</p> 
        </div>
        <div class="gradi-cta__buttoncol">
            <a href="{{cta_link}}" class="gradi-cta__button">{{cta_label}}</a>  
        </div>
    </div>
</div>