.gradi-landing-features{
    width: 100%;
     &__overlay{

     }


     &__header{
         display: flex;
         align-items: center;
         justify-content: center;
         vertical-align: middle;
         @include desktop(){
            height: 40vh;
         }
        &-content{
             text-align: center;
             width: 70%;
        }
        &-title{
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            color: #1A202C;
        }
        &-subtitle{
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
        }
     }


     &__content{ 
         display: flex;
          
           flex-direction: column;  
         
         
         align-items: center;

        &-feature{
            display:flex;
            align-items: center;
         @include phone(){
            flex-direction: column;  
         }
            width: 70%;
            margin: 5%;
         }
         &-feature-column{
             @include desktop(){
                width: 50%;  
                padding: 15px;
             }
             @include tablet(){
                width: 50%;  
                padding: 15px;
             }
             text-align: center;
             display: flex;
             flex-direction: column;
             vertical-align: middle;
         }
         .revert{
             @include desktop(){
                 flex-direction:row-reverse;
             }
             @include tablet(){
                 flex-direction:row-reverse;
             }
        } 
        &-feature-title{
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: #000000;
        }
        &-feature-desc{
             
        }
        &-feature-img{
             
        }
     }
     &__cta{
         display:flex;
         justify-content:center;
         &-content{
             @include desktop(){
               width: 80%;  
             }
            @include tablet(){
                width: 80%;
            }
            @include phone(){
                width: 95%;
            }
         }
     } 
}   