.wside-cart-item{
    display: flex;
    flex-direction: row;
    width: 100%;
    &__title{
        

    }
    &__quantity{
        display: flex;
        flex-direction: row;
        
    }
    &__img{
    }   
}   