
<div class="gradi-cta__overlay">
    <div>
        {{section.settings.title}}
        {{section.settings.desc}}
        <a href="{{section.settings.button-link}}">{{section.settings.button-text}}</a>
    </div>
</div> 
{% schema %}
{
    "name":"gradi_cta",
    "tag":"section",
    "settings":[
        {
            "type": "text",
            "id":"title",
            "label":"CTA Title",
            "default":"Your title here"
        },
        {
            "type": "text",
            "id":"desc",
            "label":"CTA Description",
            "default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus malesuada nisi tellus, non imperdiet nisi tempor at."
        },
        {
            "type": "text",
            "id":"button-text",
            "label":"CTA button text",
            "default":"Get Started"
        },
        {
            "type": "url",
            "id":"button-link",
            "label":"CTA button url",
            "default":"/"
        }
    ]
}
{% endschema %}